.container{
    background-color: #F5749E;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 4vh;
    padding-bottom: 1vh;
}


#fruit-buttons .selected-button {
    border: 10px solid red;
}

.box {
    height: 12vh;
    border: 5px solid purple;
    text-align: center;
    padding: 1vh 0;
    display: block;
    margin-top: 1vh;
    background-color: #9D79D5;

}

#fruit-buttons div {
    height: 10vh;
    border: 5px solid purple;
    text-align: center;
    padding: 1vh 0;
    display: block;
    margin-top: 1vh;
    background-color: #9D79D5;

}

.tip {
    text-align: center;
    font-weight: 700;
}

button {
    margin: 3vh 0;
}

.fruit-image{
    height: 6vh;
    width: 10vh;
}

h3{
    text-align: center;
    font-weight: 600;
}



